@model IEnumerable<Category>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item"><a href="#" class="text-dark text-decoration-none list-group-item-action">@category.CategoryName</a></li>
    }
</ul>